.navbar {
    list-style: none;
    float: right;

    &-item {
        display: inline;
        text-align: center;

        &:not(:last-child) {
            border-right: color(primary) 1px solid;
            padding-left: 1px;
        }
    }

    &-link {
        font-size: 18px;
        text-decoration: none;
        color: color(primary);
        padding: 5px 10px;

        &.active {
            color: color(accent);
        }

        &:hover:not(.active) {
            color: lighten(color(accent), 10);
        }
    }
}
